.container {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 270px;
    border: solid 2px black;
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.6);
    transition: transform 0.3s ease-in-out;
  }
  
  .container:hover {
    transform: scale(1.1);
  }
  
  .buttonContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .button {
    border-radius: 20px;
    margin: 10px 10px 0 0;
    border: none;
    background-color: red;
    color: aliceblue;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: aliceblue;
    color: red;
  }
  
  img {
    width: 200px;
    height: 200px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
  }
  
  .imageContainer {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
    align-items: center;
    position: relative;
  }
  
  .name {
    background-color: aqua;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0px;
  }
  
  .propsContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    background: black;
    color: aliceblue;
    border-radius: 0 0 15px 15px;
    border-bottom: 2px solid aliceblue;
  }
  
  
  .propsContainer h2 {
    margin: 0;
  }
  
  .link {
    text-decoration: none;
    color: inherit;
  }
  