.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .warning {
    border: 1px solid red;
  }
  
  .error {
    color: red;
    margin: 5px 0;
  }
  